

nav,
.carousel,
section {
    margin-bottom: 15vh;
}

.card {
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px lightgray;
    transition: .4s ease;
    border-radius: 10px;
}
.card:hover {
    border: 1px solid rgba(170, 170, 170, .4);
}

.orange-bg {
    background: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 2rem 3rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.price {
    color: #ff136f;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin: .9rem 0;
}

.buy-now-button {
    background: #f30962;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s ease;
}
.buy-now-button:hover {
    background: #ff1670;
}


.cat1,
.cat2,
.cat3 {
    padding: .8rem 1.8rem;
    border-radius: 10px;
    cursor: pointer;
}



.cat1 {
    background: linear-gradient(to right, #F0922E, #ffd52f);
}
.cat2 {
    background: linear-gradient(to right, #EB327A, #ff80b0);
}
.cat3 {
    background: linear-gradient(to right, #3712F8, #5384ff);
}

.categories h1 {
    color: #FFFFFF;
}
.categories img {
    width: 100px;
}
.categories a {
    text-decoration: none;
}

.card-price {
    font-size: 1.5rem;
    color: #ff136f;
    font-weight: 600;
    margin: 1rem 0;
}
.card-title {
    font-weight: 600;
    margin: 1rem 0;
}

.card-footer {
    border-top: none;
}



